@import "./../../utils//variables.scss";

.header {
  height: $header-height;
  background-color: $light-color;

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      padding: 10px 20px;
    }
  }
}
